
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<style>
    Body {
        background-color: #FEF0E3;
    }
</style>
<h1 align="center">Welcome...</h1>
<h2 align="center">Loged in Successfully..</h2>

